* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../Inicio_sesion/Fondo.jpg);
}

h1 {
    text-align: center;
    background-color: #3e0350;
    color: white;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

nav ul {
    background-color: #ca9dd9b6;
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: rgb(252, 252, 252);
    padding: 10px;
    width: 150px;
    display: block;
    text-align: center;
}

nav li:hover {
    background-color: #8d6d99b6;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contenido {
    display: flex;
    margin: 60px;
}

.articulos {
    width: 80%;
    border-right: 3px solid #680095b6;
}

.secciones {
    display: flex;
    align-items: center;
    padding: 40px;
    color: white;
}

.menu-secundario {
    width: 20%;
    margin-top: 60px;
}

.menu-secundario a {
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 30px;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #3e0350;
    color: white;
    margin-top: 40px;
}

footer p {
    text-align: center;
    padding: 50px;
}

.bienvenida-container {
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: #3e0350;
    color: white;
}

.bienvenida {
    position: relative;
    z-index: 1;
}

.icono {
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

.menu-lista {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: rgb(198, 141, 202);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    z-index: 3;
}

.menu-lista li {
    padding: 8px 16px;
}

.menu-lista li a {
    text-decoration: none;
    color: black;
    display: block;
}

.menu-lista li:hover {
    background-color: #874c84;
}

.Icono2 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}


.menu-listado {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: rgb(198, 141, 202);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    z-index: 3;
}

.menu-listado li {
    padding: 8px 16px;
}

.menu-listado li a {
    text-decoration: none;
    color: black;
    display: block;
}

.menu-listado li:hover {
    background-color: #874c84;
}

.table-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.atrasos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.atrasos-table th, .atrasos-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.atrasos-table th {
    background-color: #874c84;
    color: white;
}

.atrasos-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.atrasos-table tr:hover {
    background-color: #f1f1f1;
}